<div class="d-flex flex-column align-items-center h-100 mt-5">
    <h1 class="fw-bolder my-3">New welcome kit</h1>
    <div [formGroup]="form">
      <div class="cw-400">
        <label for="templateTitle" class="form-label fw-bold">Title</label>
        <input type="text" matInput formControlName="title"
               class="form-control p-3" id="templateTitle" placeholder="e.g.: Devs Coming to Portugal">
      </div>
      <div class="my-4 cw-400">
        <label for="templateDescription" class="form-label fw-bold">Title</label>
        <textarea type="text" rows="4" formControlName="description"
                  class="form-control p-3" id="templateDescription"
                  placeholder="e.g.: Welcome kit for devs in need of a visa"></textarea>
      </div>
      <button class="w-100 bg-black p-4"
              (click)="onSave()"
              color="primary" type="button" mat-raised-button>Let’s start configuring it
      </button>
    </div>
</div>
