:host {
  .welcome-background {
    content: "";
    height: 100%;
    background-image: url("/assets/bg.svg");
  }

  .login-screen {
    height: 100%;
  }

  .welcome-background, .login-screen {
    flex-basis: 50%;
  }

  @media screen and (max-width:(576px)) {
    .welcome-background {
      display: none;
    }
    .login-screen {
      flex-basis: 100%;
    }
  }
}
