<div class="d-flex h-100">
  <div class="d-flex share-summary align-items-center flex-column px-5">
    <div class="base-header container p-5">
      <img alt="welcomin system image" height="45px" src="./assets/logo.svg">
    </div>
    <div class="w-100 summary-step-actions py-5">
      <button mat-icon-button>
        <span class="material-symbols-outlined">edit_square</span>
      </button>
      <button mat-icon-button>
        <span class="material-symbols-outlined">delete</span>
      </button>
    </div>
    <h2 class="font-weight-bolder mb-4">Devs coming to Portugal kit</h2>
    <div class="w-100 d-flex flex-column gap-4">
      <ng-container *ngFor="let step of steps">
        <div class="summary-item">
          <div class="summary-index">{{step?.order}}</div>
          <div class="d-flex align-items-center w-100">
            <div class="flex-fill"><b>Step {{step?.order}} - </b>{{step?.name}}</div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="mt-5 w-100">
      <button mat-raised-button class="p-4">Add new step</button>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center share-container">
    <div class="share-container__form cw-400">
      <h2>Share it</h2>
      <div class="py-3 input-group">
        <input type="email" readonly class="form-control p-2" id="formControlLink">
        <span cdkCopyToClipboard="LINKOK"
              class="input-group-text cursor-pointer p-2 material-symbols-outlined">assignment</span>
      </div>
      <div class="py-3">
        <label for="formControlEmail" class="form-label fw-bold">Email</label>
        <input type="email" class="form-control p-2" id="formControlEmail">
      </div>
      <button mat-raised-button color="primary" class="bg-black w-100 p-4 mt-3">Send by email -></button>
    </div>
  </div>
</div>
